.App {
  text-align: center;
  background-color: #222831;
  color: #DDDDDD;
  border: 5px solid;
  border-radius: 15px;
  min-height: 100vh;
}

.header{
  background-color: #7f7f7f;
}

.footer{
  background-color: lightcoral;
}


