.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
}

.form {
  margin-top: 25px;
}

.header {
  background-image: linear-gradient(
    to bottom,
    #150827,
    #16122e,
    #181934,
    #1b203b,
    #1e2741,
    #19283f,
    #16293d,
    #142a3a,
    #10242e,
    #0f1f24,
    #0f181a,
    #0d1111
  );
  color: #fff;
  padding: 14px;
  width: 100%;
}

.addBtn {
  background-image: linear-gradient(
    to bottom,
    #04620d,
    #006e29,
    #007940,
    #008556,
    #00906c,
    #009985,
    #00a19c,
    #00a8b1,
    #19acca,
    #49aede,
    #76aeeb,
    #a1adef
  );
}

.delBtn {
  justify-content: space-between;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.data-val {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0px 9px 0px 9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*
.header {
  background-color: #15202b;
  border: 2px solid #222831;
}

.footer {
  background-color: lightcoral;
}

h1 {
  margin: 0;
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  padding: 14px;
  color: black;
}

.btn {
  background-color: #15202b;
  color: silver;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
  color: #15202b;
  font-size: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 40px;
  margin: 10px;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie {
  border-radius: 5px;
  background-color: #dddddd;
  color: #15202b;
  border: 1px solid #222831;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 22%;
  margin-top: 42px;
}

.movie img {
  width: 100%;
  height: 290px;
}
*/
